ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    text-align: center;
    /* Center the list items horizontally */
}

li {
    display: inline-block;
    /* Display list items in a row */
    border-right: 1px solid grey;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: aliceblue;
    text-decoration: dotted;
    padding: 14px 16px;
}
.hidden {
    display: none;
}
.box-container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.payment-option {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}